<% if logged_in? %>
     Bienvenid@ <%=h current_user.username %>
	<%= link_to 'Nuevo post', new_post_path %>
     <%= link_to "(Salir)", logout_path %>
   <% else %>
     <%= link_to "Registro", signup_path %> o
     <%= link_to "Acceder", login_path %>.
   <% end %>
<h1>New post</h1>

<% form_for(@post) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', posts_path %>